{% extends "base.html" %}

{% load static %}


{% block styles %}
 <link rel="stylesheet" href="{% static 'team_register_styles.css' %}" type='text/css'>
{% endblock %}

{% block content %}
<div id="wrapper">
        <h3>Add your Team Members here</h3>
        <h3>------------------------------------</h3>

  <form role="form" method="post" enctype="multipart/form-data">
        
{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
{{form.as_p}}
  <h3>------------{{form.id}}------------------------</h3>
  <br> </br>
{% endfor %}

<input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>

{%endblock%}


